.parent {
  width: 25vw;
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 10px;
}
.input-div span {
  font-weight: bold;
}
.input-div input{
    color: #0000cc;
    font-weight: 500;
    margin-left: 20px;
}

.error{
  color: red;
  text-align: center;
  font-weight: 500;
  margin-left: 20px;

}
@media(max-width:572px){
    .input-div input{
        width: 100px;
    }
}